* {
    box-sizing: border-box;
}

.navbar--nav {
position:fixed;
width: 100vw;
height: 12vh;
left: 0vw;
top: 0vh;


background: #F55A5A;  



}

.outter-div {
    background: #F55A5A;
  
}

.navbar--nav > h1 {
    width: 109px;
    height: 16px;

    
    position: absolute;
    left: 50vw;
    top: 3vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14.4608px;
    line-height: 18px;
    letter-spacing: -0.075em;  
    color: #FFFFFF;     
 
}

.navbar--nav > img {
    position: absolute;
width: 24px;
height: 24px;
left: 45vw;
top: 5vh;
color: #FFFFFF;
justify-content: center;  
}

.travel--pic {
    
    width: 125px;
    height: 168px;
    background: url(.png);
  
}

.travel--div {
    display: flex;
    margin-top: 36px;
    margin-bottom: 3px;
    border-radius: 5px;    
    margin-left: 50px;
}


.card--description {
    margin-left: 4vw;
}
.location--info{
    display: flex;
}

.location {
width: relative;
height: 10px;


font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10.24px;
line-height: 12px;
letter-spacing: 0.17em;
margin-right: 1vh;

color: #2B283A;

}

.location-pin {

width: 7px;
height: 9.55px;
margin-top: 3vh;
margin-right:1vw;
margin-top:2vh;
background: #DADADA;

}

.card--description > h1 {
    margin-top: 1vh;
    width: 326px;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;


    color: #2B283A;    
}

.googleMapsData{
width: 120px;
height: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10.24px;
line-height: 12px;
/* identical to box height */

text-decoration-line: underline;

color: #918E9B;
}

a {
width: 106px;
height: 13px;   
}

.start-end-dates {
width: 319px;
height: 11px;
margin-top: -12px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 10.24px;
line-height: 12px;

color: #2B283A;    
}

.location-description{
width: 326px;
height: 45px;
left: 184px;
top: 203px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10.24px;
line-height: 150%;
/* or 15px */


color: #2B283A;    
}

.emptyspace{
    margin-top: 90px;
}